<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
		<link rel="manifest" href="icons/site.webmanifest">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-secondary">
            <a href="#" class="navbar-brand">Contact Form</a>
        </nav>
        <form class="container mt-3 card card-body p-4" action="/mail" method="POST">
            <h4 class="text-center">Contact Me</h4>
            <div class="form-group">
              <label for="name">Full Name</label> 
              <input
                type="text"
                name="name"
                id="userFullName"
                class="form-control"
              />
            </div>
            <div class="form-group">
                <label for="Email">Email</label> 
                <input
                  type="email"
                  name="email"
                  id="userEmail"
                  class="form-control"
                />
            </div>
            <div class="form-group">
                <label for="Message">Message</label> 
                <textarea name="message" id="userMessage" class="form-control"></textarea>
            </div>
            <button id="submit" class="btn btn-secondary">Submit</button>
          </form>
        <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-firestore.js"></script>
        <!--<script src="assets/js/app.js"></script>-->
    </body>
</html>
