<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Harsh Srivastava</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
		<link rel="manifest" href="icons/site.webmanifest">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>My Portfolio</h1>
						<p>A showcase of my abilities and projects</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index" class="logo">Home</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<!-- <li class="active"><a href="index"></a></li> -->
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/harsh-srivastava-harshsri2208/" target="_blank" class="icon fa-linkedin"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/harshsri2208" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
						<article class="post featured">
							<header class="major">
								<h2><a href="#">My name is Harsh Srivastava</a></h2>
								<p><img class="img_circle" src="images/harsh.jpg" width="200" height="200" ></p>
								<p>I am a computer science student with interest in problem solving, development and technology.</p>
							</header>
							<a href="#" class="image main"><img src="images/twitter.jpg" alt="" /></a>
							<h2>Twitter Sentiment Analysis</h2>
							<ul class="actions special">
								<!--<li><a class="button large" id="twitterbtn">learn more</a>-->
								<li><a href="https://github.com/harshsri2208/Twitter-Sentiment-Analysis" target="_blank" class="button large">learn more</a>

							<a href="#" class="image main"><img src="images/taxi.png" alt="" /></a>
							<h2>Online Cab Booking</h2>
							<ul class="actions special">
								<li><a href="https://github.com/harshsri2208/cab-management" target="_blank" class="button large">learn more</a>	

							<a href="#" class="image main"><img src="images/crio_image.jpg" alt="" /></a>
							<h2>QBox and QMoney</h2>
							<ul class="actions special">
								<li><a href="https://criodo.github.io/Crio-Launch-Feb-2020-harshsri2208/" target="_blank" class="button large">learn more</a>	
								</li>
							</ul>

						</article>

						<!-- Posts -->
							<section class="posts">


								<article>
									<header>
										<h2><a href="#">News Scraping</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/news_scraping.jpg" alt="" /></a>
									<p>Currently working on a gui application to get top news headlines on a click of the mouse.</p>
									<ul class="actions special">
										<li><a href="https://github.com/harshsri2208/facebook-login-automation" target="_blank" class="button">Full Story</a></li>
									</ul>
								</article>

								<article>
									<header>
										<h2><a href="#">Meme Making App</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/Screenshot_MEME.jpg" alt="" /></a>
									<p> Under progress android app to make memes</p>
									<ul class="actions special">
										<li><a href="https://github.com/harshsri2208/MEME" target="_blank" class="button">Full Story</a></li>
									</ul>
								</article>

								<article>
									<header>
										<h2><a href="#">Fb login automation</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/fb.jpg" alt="" /></a>
									<p> A simple python script to automate login process using selenium.</p>
									<ul class="actions special">
										<li><a href="https://github.com/harshsri2208/news_scraping" target="_blank" class="button">Full Story</a></li>
									</ul>
								</article>

								<article>
									<header>
										<h2><a href="#">PyWarriors</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pyw.png" alt="" /></a>
									<p>Contributer at PyWarriors.</p>
									<ul class="actions special">
										<li><a href="https://github.com/PyWariors" target="_blank" class="button">Full Story</a></li>
									</ul>
								</article>
							</section>

						<!-- Footer -->


					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<!-- <form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form> -->
							<button type="button"><a href="about_me">About Me</a></button><br><br>
							<button type="button"><a href="contact_me">Contact Me</a></button>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>National Institute of Technology Rourkela<br />
								Rourkela, Odisha, India</p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">harshsri2208@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/harsh-srivastava-harshsri2208/" target="_blank" class="icon alt fa-linkedin"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/harshsri2208" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
				function privateRepoClick() {
    				alert("sorry this repo is currently private");
				}
			</script>

	</body>
</html>
